<!DOCTYPE html>
<html ng-app="myApp">
  <head>
  <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
  <script>
    angular.module('myApp',[])
    .controller('CounterController',function($scope){
      $scope.decrement=function(){
        $scope.count=$scope.count-1;
      };
    })
  </script>
  </head>
  <body>
    <!-- <form name="signup_form" ng-controller="FormController" ng-submit="submitForm()" novalidate>
      <div ng-repeat="field in fields" ng-form="signup_form_input">
        <input type="text"
           name="dynamic_input"
           ng-required="field.isRequired"
           ng-model="field.name"
           placeholder="{{field.placeholder}}" />
        <div ng-show="signup_form_input.dynamic_input.$dirty && signup_form_input.dynamic_input.$invalid">
          <span class="error" ng-show="signup_form_input.dynamic_input.$error.required">The field is required.</span>
        </div>
      </div>
      <button type="submit" ng-disabled="signup_form.$invalid">Submit All</button>
    </form> -->
    <div ng-controller="CounterController">
      <button ng-click="count = count + 1" ng-init="count=0">
        Increment
      </button>
      count: {{count}}
      <button ng-click="decrement()">
        Decrement
      </button>
    <div>
  </body>
</html>
